*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.marksheet{
    width: 25%;
    background-color: rgb(223, 217, 217);
    height: 600px;
    margin: 10px auto 10px auto;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

input{
    width: 100px;
    float: right;
    margin: 1px;
}

button{
    padding: 10px; 
    margin-left: 120px;   
}
